<%= @users %>

<% user = @users[0] %>
<%= user.name %>
<%= user.username %>

<%= @users[1].name %>
<%= @users[1].username %>


<% @users.each do |user| %>
<div>
  <h1><%= user.name %></h1>
  <h2><%= link_to user.username, "/users/show/#{user.id}" %></h2>
</div>
<% end %>
