<h1>服部虎太郎さんのプロフィール</h1>

<img src="http://www.allbestwallpapers.com/wallpaper/travel/image/chateau_de_chenonceaux_castle,_chenonceaux,_france.jpg">

<h2>K-twiteSystem</h2>
<ul>
  <li>住んでいる場所:日本,神奈川県</li>
  <li>名前:服部虎太郎さん</li>
  <li>年齢:9才</li>
  <li>特技:プログラミング</li>
</ul>
<h1><%= @user[:name] %></h1>
<h2>K-twiteSystem</h2>
<ul>
  <li>住んでいる場所: <%= @user[:location] %></li>
  <li>名前: <%= @user[:name] %></li>
  <li>年齢: <%= @user[:age] %></li>
  <li>特技: <%= @user[:speciality] %></li>
</ul>

